	<div class="container">

	<div id="tabs" class="tabs">
		<nav>
			<ul>
				<li><a href="#section-1"><i class="icon-bag"></i><span>donate</span></a></li>
				<li><a href="#section-2"><i class="icon-droplet"></i><span>receive</span></a></li>
				<li><a href="#section-3"><i class="icon-area-graph"></i><span>statistics</span></a></li>
	
			</ul>
		</nav>

		<div class="content">
			<section id="section-1">
			  <%= render "donations/form"%>
			</section>
			
			<section id="section-2">
			<div class="inner-tab">
              <%= render partial: "donations/donation" , collection: Donation.all unless Donation.blank? %>
              	</div>
			</section>

			<section id="section-3">
			</section>

		</div><!-- /content -->
	</div><!-- /tabs -->
